aws_region = "ap-south-1"

ami_id = "ami-0b6d9d3d33ba97d99"

instance_type = "t2.small"

key_name = "siva-test"

# Replace with your public IPv4 address in CIDR format, for example 203.0.113.45/32
allowed_ssh_cidr = "YOUR_PUBLIC_IP/32"

# Replace with your public IPv4 address in CIDR format, for example 203.0.113.45/32
allowed_grafana_cidr = "YOUR_PUBLIC_IP/32"